Chunked encoding

The proxy should support chunked transfer encoding.

- [RFC 7230, Section 4.1](https://tools.ietf.org/html/rfc7230#section-4.1)
- [Text example](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Transfer-Encoding#Examples)
- [Another text example](https://en.wikipedia.org/wiki/Chunked_transfer_encoding#Example)
- [Image example](https://www.httpwatch.com/httpgallery/chunked/)

Branch created: [4-chunked-encoding](https://github.com/SebastianSchmidt/galop/tree/4-chunked-encoding)